.main-content{
    --background: url('../../assets/main.jpeg') no-repeat fixed center/cover;
    h2,h5{
        color: white;
        text-align: center;
    }
    ion-item{
        --background:transparent;
        color: white;
    }
    .calendar{
        input{
            border: none;
            background: transparent;
            color: white;
        }
    }

}  
::ng-deep bs-daterangepicker-container{
    position: absolute;
    display: flex!important;
    justify-content: center;
    top: 30%!important;
    width: 100%;
    left: 0!important;
    right: 0px;
    background: white;
} 


// ::ng-deep ion-modal{
//     &.modal{
//         display: block;
//     }
// }