
<ion-content class="main-content">
<h2>Do you want to explore Universe?</h2>
<h5>Everything what you just need it is start the adventure...</h5>
<form action="">
  <ion-item>
    <ion-label>Return</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown">One Way</ion-select-option>
      <ion-select-option value="blonde">Multicity</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>From</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown">Earth</ion-select-option>
      <ion-select-option value="blonde">Mars</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Port</ion-label>
    <ionic-selectable
    #portComponent
      [(ngModel)]="port"
      [items]="ports"
      itemValueField="id"
      itemTextField="name"
      [canSearch]="true"
      (onChange)="portChange($event)">
    </ionic-selectable>
  </ion-item>
<ion-item>
  <div class="calendar">
    <div >
      <input class="form-control" #drp="bsDaterangepicker" [ngModelOptions]="{standalone: true}" name="datepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
    </div>
    <!-- <div >
      <button class="btn btn-success" (click)="drp.toggle()" [attr.aria-expanded]="drp.isOpen">Date Range Picker</button>
    </div> -->
  </div>
</ion-item>
</form>
</ion-content>
