
<ion-content class="main-content">
<h2>Do you want to explore Universe?</h2>
<h5>Everything what you just need it is start the adventure...</h5>
<form [formGroup]="form" (ngSubmit)="search(form.value)">
  <ion-item>
    <ion-label>Return</ion-label>
    <ion-select  formControlName="return" okText="Okay" cancelText="Dismiss" >
      <ion-select-option>One Way</ion-select-option>
      <ion-select-option >Multicity</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>From</ion-label>
    <ion-select  formControlName="from" okText="Okay" cancelText="Dismiss" (ionChange)="onChange($event)" >
      <ion-select-option  *ngFor="let planet of planets | availablePlanet :flights" >{{planet.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>To</ion-label>
    <ion-select  formControlName="to" okText="Okay" cancelText="Dismiss"   >
      <ion-select-option *ngFor="let planet of planets | availablePlanetTo : flights : selectedFrom" >{{planet.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- <ion-item>
    <ion-label>Port</ion-label>
    <ionic-selectable formControlName="port" 
    #portComponent
      [(ngModel)]="port"
      [items]="ports"
      itemValueField="id"
      itemTextField="name"
      [canSearch]="true"
      (onChange)="portChange($event)">
    </ionic-selectable>
  </ion-item> -->
<!-- <ion-item>
  <div class="calendar">
    <div >
      <input formControlName="date" class="form-control" #drp="bsDaterangepicker"  name="datepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
    </div>
     <div >
      <button class="btn btn-success" (click)="drp.toggle()" [attr.aria-expanded]="drp.isOpen">Date Range Picker</button>
    </div> 
  </div>
</ion-item> -->
<ion-item>
  <mat-form-field class="datepicker" >
    <input matInput  [min]="minDate" (dateChange)="addEvent('change', $event)" [matDatepicker]="picker" formControlName="date_from"  placeholder="Choose a depart date">
    <mat-datepicker-toggle matSuffix [for]="picker">
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</ion-item>
<ion-item *ngIf="this.form.controls['return'].value==='Multicity'">
  <mat-form-field class="datepicker"  >
    <input matInput [matDatepicker]="pickers" [matDatepickerFilter]="dateFilterArrival" formControlName="date_to" placeholder="Choose a return date">
    <mat-datepicker-toggle matSuffix [for]="pickers">
    </mat-datepicker-toggle>
    <mat-datepicker #pickers></mat-datepicker>
  </mat-form-field>
</ion-item>
<!-- routerDirection="" -->
 <ion-button type="submit" size="large"> Search ... </ion-button>
</form>
</ion-content>
